In [1]:
import pandas as pd

data = {
'Coffee_Shop_Name': ['HollyBrew', 'Diego Drip', 'NY Espresso', 'Holly Beans', 'Diego Morning', 'NY Caffeine', 'Diego Delight'],
'Location': ['Hollywood', 'San Diego', 'New York', 'Hollywood', 'San Diego', 'New York', 'San Diego'],
'Rating_out_of_5': [4.5, 4.1, 4.0, 4.7, 4.3, 4.4, 4.2],
'Visitors_per_day': [320, 290, 500, 330, 280, 520, 270]
}

coffee_shops_df = pd.DataFrame(data)
coffee_shops_df

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day
0        HollyBrew  Hollywood              4.5               320
1       Diego Drip  San Diego              4.1               290
2      NY Espresso   New York              4.0               500
3      Holly Beans  Hollywood              4.7               330
4    Diego Morning  San Diego              4.3               280
5      NY Caffeine   New York              4.4               520
6    Diego Delight  San Diego              4.2               270

In [ ]:
# Retrieve all the rows for coffee shops located in "Hollywood".
# Change the rating of "Diego Drip" to 5.0 using the loc method.
# Select the 'Rating_out_of_5' for the coffee shop named "NY Espresso".
# Get the 'Visitors_per_day' values for coffee shops that have a rating greater than 4.2.
# Update the 'Location' of "NY Caffeine" to "Brooklyn".