In [8]:
import pandas as pd

data = {
'Coffee_Shop_Name': ['HollyBrew', 'Diego Drip', 'NY Espresso', 'Holly Beans', 'Diego Morning', 'NY Caffeine', 'Diego Delight'],
'Location': ['Hollywood', 'San Diego', 'New York', 'Hollywood', 'San Diego', 'New York', 'San Diego'],
'Rating_out_of_5': [4.5, 4.1, 4.0, 4.7, 4.3, 4.4, 4.2],
'Visitors_per_day': [320, 290, 500, 330, 280, 520, 270]
}

coffee_shops_df = pd.DataFrame(data)
coffee_shops_df

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day
0        HollyBrew  Hollywood              4.5               320
1       Diego Drip  San Diego              4.1               290
2      NY Espresso   New York              4.0               500
3      Holly Beans  Hollywood              4.7               330
4    Diego Morning  San Diego              4.3               280
5      NY Caffeine   New York              4.4               520
6    Diego Delight  San Diego              4.2               270

In [ ]:
# How many coffee shops are there in each location?
# Count the number of coffee shops with a rating above 4.5.
# How many coffee shops receive more than 300 visitors per day?
# Count the number of coffee shops with names containing the word "Diego".
# How many unique locations are there in the DataFrame?

In [20]:
coffee_shops_df['Location'].value_counts()

Location
San Diego    3
Hollywood    2
New York     2
Name: count, dtype: int64

In [21]:
coffee_shops_df['Location'].nunique()

3

In [24]:
coffee_shops_df[coffee_shops_df['Rating_out_of_5'] > 4.5].count()['Coffee_Shop_Name']

1

In [27]:
coffee_shops_df[coffee_shops_df['Coffee_Shop_Name'].str.contains('Diego', na=False)].count()['Coffee_Shop_Name']

3

In [9]:
coffee_shops_df['Location'].value_counts()

Location
San Diego    3
Hollywood    2
New York     2
Name: count, dtype: int64

In [19]:
coffee_shops_df[coffee_shops_df['Coffee_Shop_Name'].str.contains('Deigo', na=False)].count()['Coffee_Shop_Name']

0

In [10]:
coffee_shops_df['Location'].nunique()

3

In [14]:
coffee_shops_df[coffee_shops_df['Rating_out_of_5'] > 4.5].count()['Coffee_Shop_Name']

1

In [15]:
coffee_shops_df[coffee_shops_df['Visitors_per_day'] > 300].count()['Coffee_Shop_Name']

4