In [1]:
import pandas as pd

data = {
'Coffee_Shop_Name': ['HollyBrew', 'Diego Drip', 'NY Espresso', 'Holly Beans', 'Diego Morning', 'NY Caffeine', 'Diego Delight'],
'Location': ['Hollywood', 'San Diego', 'New York', 'Hollywood', 'San Diego', 'New York', 'San Diego'],
'Rating_out_of_5': [4.5, 4.1, 4.0, 4.7, 4.3, 4.4, 4.2],
'Visitors_per_day': [320, 290, 500, 330, 280, 520, 270]
}

coffee_shops_df = pd.DataFrame(data)
coffee_shops_df

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day
0        HollyBrew  Hollywood              4.5               320
1       Diego Drip  San Diego              4.1               290
2      NY Espresso   New York              4.0               500
3      Holly Beans  Hollywood              4.7               330
4    Diego Morning  San Diego              4.3               280
5      NY Caffeine   New York              4.4               520
6    Diego Delight  San Diego              4.2               270

In [ ]:
# What's the size (number of elements) of the 'Rating_out_of_5' column?

# Calculate the size of the DataFrame after filtering for coffee shops in "San Diego".

# Determine the size of the DataFrame when you only consider the 'Coffee_Shop_Name' and 'Rating_out_of_5' columns.

# What's the size of the DataFrame after dropping the 'Visitors_per_day' column?

# Calculate the size of the DataFrame after selecting only the first 4 rows.

In [27]:
coffee_shops_df['Rating_out_of_5'].size

7

In [28]:
coffee_shops_df[coffee_shops_df['Location'] == 'San Diego'].size

12

In [29]:
coffee_shops_df[['Coffee_Shop_Name','Rating_out_of_5']].size

14

In [30]:
coffee_shops_df.drop(columns=['Visitors_per_day']).size

21

In [31]:
coffee_shops_df[coffee_shops_df['Location'] == 'New York'].size

8

In [14]:
coffee_shops_df[coffee_shops_df['Location'] == 'San Diego'].size

12

In [17]:
coffee_shops_df[['Coffee_Shop_Name','Rating_out_of_5']].size

14

In [20]:
coffee_shops_df.head(4).size

16

In [26]:
dropped_column_df = coffee_shops_df.drop(columns=['Visitors_per_day'])
dropped_column_size = dropped_column_df.size
print(dropped_column_df.size)

21