In [1]:
import pandas as pd

data = {
'Coffee_Shop_Name': ['HollyBrew', 'Diego Drip', 'NY Espresso', 'Holly Beans', 'Diego Morning', 'NY Caffeine', 'Diego Delight'],
'Location': ['Hollywood', 'San Diego', 'New York', 'Hollywood', 'San Diego', 'New York', 'San Diego'],
'Rating_out_of_5': [4.5, 4.1, 4.0, 4.7, 4.3, 4.4, 4.2],
'Visitors_per_day': [320, 290, 500, 330, 280, 520, 270]
}

coffee_shops_df = pd.DataFrame(data)
coffee_shops_df

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day
0        HollyBrew  Hollywood              4.5               320
1       Diego Drip  San Diego              4.1               290
2      NY Espresso   New York              4.0               500
3      Holly Beans  Hollywood              4.7               330
4    Diego Morning  San Diego              4.3               280
5      NY Caffeine   New York              4.4               520
6    Diego Delight  San Diego              4.2               270

In [ ]:
# How many unique coffee shops are there in the 'Coffee_Shop_Name' column of the dataset?
# Which column has the fewest unique values?
# How many unique ratings are present in the 'Rating_out_of_5' column?
# Find out how many unique daily visitor counts are recorded in the dataset.
# Determine the number of unique locations in which the coffee shops are situated.

In [7]:
coffee_shops_df['Coffee_Shop_Name'].nunique()

7

In [11]:
unique_values = coffee_shops_df[['Coffee_Shop_Name','Location', 'Rating_out_of_5', 'Visitors_per_day']].nunique()
fewest_unique_values = unique_values.idxmin()
print("Column with the fewest unique values:", fewest_unique_values)

Column with the fewest unique values: Location

In [6]:
coffee_shops_df['Visitors_per_day'].unique()

array([320, 290, 500, 330, 280, 520, 270])

In [12]:
coffee_shops_df['Visitors_per_day'].nunique()

7

In [13]:
coffee_shops_df['Location'].nunique()

3