In [8]:
import pandas as pd

data = {
'Coffee_Shop_Name': ['HollyBrew', 'Diego Drip', 'NY Espresso', 'Holly Beans', 'Diego Morning', 'NY Caffeine', 'Diego Delight'],
'Location': ['Hollywood', 'San Diego', 'New York', 'Hollywood', 'San Diego', 'New York', 'San Diego'],
'Rating_out_of_5': [4.5, 4.1, 4.0, 4.7, 4.3, 4.4, 4.2],
'Visitors_per_day': [320, 290, 500, 330, 280, 520, 270]
}

coffee_shops_df = pd.DataFrame(data)
coffee_shops_df

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day
0        HollyBrew  Hollywood              4.5               320
1       Diego Drip  San Diego              4.1               290
2      NY Espresso   New York              4.0               500
3      Holly Beans  Hollywood              4.7               330
4    Diego Morning  San Diego              4.3               280
5      NY Caffeine   New York              4.4               520
6    Diego Delight  San Diego              4.2               270

In [ ]:
# Retrieve all the rows for coffee shops located in "Hollywood".
# Change the rating of "Diego Drip" to 5.0 using the loc method.
# Select the 'Rating_out_of_5' for the coffee shop named "NY Espresso".
# Get the 'Visitors_per_day' values for coffee shops that have a rating greater than 4.2.
# Update the 'Location' of "NY Caffeine" to "Brooklyn".
# Find the 'Rating_out_of_5' for coffee shops named "Diego Brew" and "Holly Coffee".

In [89]:
coffee_shops_df.loc[coffee_shops_df[Coffee_Shop_Name] == ['Diego Brew', 'Holly Coffee'], 'Ratings_out_of_5']

NameError: name 'Coffee_Shop_Name' is not defined

In [88]:
coffee_shops_df.loc[coffee_shops_df['Location'] == 'Hollywood', :]

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day
0        HollyBrew  Hollywood              4.5               320
3      Holly Beans  Hollywood              4.7               330

In [98]:
result = coffee_shops_df.loc[coffee_shops_df['Coffee_Shop_Name'].isin(['Diego Drip', 'HollyBrew']), ['Coffee_Shop_Name', 'Rating_out_of_5']]
print(result)

  Coffee_Shop_Name  Rating_out_of_5
0        HollyBrew              4.5
1       Diego Drip              5.0

In [71]:
coffee_shops_df.loc[coffee_shops_df['Rating_out_of_5'] > 4.2, 'Visitors_per_day']

0    320
1    290
3    330
4    280
5    520
Name: Visitors_per_day, dtype: int64

In [79]:
coffee_shops_df.loc[coffee_shops_df['Coffee_Shop_Name'] == 'NY Caffeine', 'Location'] = 'Brooklyn'
print(coffee_shops_df)

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day
0        HollyBrew  Hollywood              4.5               320
1       Diego Drip  San Diego              5.0               290
2      NY Espresso   New York              4.0               500
3      Holly Beans  Hollywood              4.7               330
4    Diego Morning  San Diego              4.3               280
5      NY Caffeine   Brooklyn              4.4               520
6    Diego Delight  San Diego              4.2               270

In [75]:
coffee_shops_df.loc[coffee_shops_df['Location'] == 'Hollywood']

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day
0        HollyBrew  Hollywood              4.5               320
3      Holly Beans  Hollywood              4.7               330

In [49]:
coffee_shops_df.loc[coffee_shops_df['Coffee_Shop_Name'] == 'Deigo Drip', 'Rating_out_of_5'] = 5.0

In [51]:
coffee_shops_df.loc[coffee_shops_df['Coffee_Shop_Name'] == 'NY Espresso', 'Rating_out_of_5']

2    4.0
Name: Rating_out_of_5, dtype: float64

In [53]:
coffee_shops_df.loc[coffee_shops_df['Rating_out_of_5'] > 4.2, 'Visitors_per_day']

0    320
1    290
3    330
4    280
5    520
Name: Visitors_per_day, dtype: int64

In [62]:
coffee_shops_df.loc[coffee_shops_df['Coffee_Shop_Name'] == 'NY Caffeine', 'Location'] = 'Brooklyn'

In [61]:
coffee_shops_df.loc[coffee_shops_df['Coffee_Shop_Name'] == 'NY Caffeine', 'Location'] = 'Brooklyn'
print(coffee_shops_df)

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day
0        HollyBrew  Hollywood              4.5               320
1       Diego Drip  San Diego              5.0               290
2      NY Espresso   New York              4.0               500
3      Holly Beans  Hollywood              4.7               330
4    Diego Morning  San Diego              4.3               280
5      NY Caffeine   Brooklyn              4.4               520
6    Diego Delight  San Diego              4.2               270