In [1]:
import pandas as pd

data = {
'Coffee_Shop_Name': ['HollyBrew', 'Diego Drip', 'NY Espresso', 'Holly Beans', 'Diego Morning', 'NY Caffeine', 'Diego Delight'],
'Location': ['Hollywood', 'San Diego', 'New York', 'Hollywood', 'San Diego', 'New York', 'San Diego'],
'Rating_out_of_5': [4.5, 4.1, 4.0, 4.7, 4.3, 4.4, 4.2],
'Visitors_per_day': [320, 290, 500, 330, 280, 520, 270]
}

coffee_shops_df = pd.DataFrame(data)
coffee_shops_df

  Coffee_Shop_Name   Location  Rating_out_of_5  Visitors_per_day
0        HollyBrew  Hollywood              4.5               320
1       Diego Drip  San Diego              4.1               290
2      NY Espresso   New York              4.0               500
3      Holly Beans  Hollywood              4.7               330
4    Diego Morning  San Diego              4.3               280
5      NY Caffeine   New York              4.4               520
6    Diego Delight  San Diego              4.2               270

In [ ]:
# Are there any missing values in the 'Rating_out_of_5' column?

# If there were missing values in the 'Visitors_per_day' column, how would you fill them with the average of the column?

# Drop any rows where there might be missing values (if there were any).

# If there were any missing values in the 'Location' column, how would you forward-fill them?

# Replace any NaN values in the 'Rating_out_of_5' column with the median rating (if there were any).

In [3]:
coffee_shops_df['Rating_out_of_5'].isna()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
Name: Rating_out_of_5, dtype: bool

In [ ]:
mean = coffee_shops_df['Visistors_per_day'].mean()
missing_avg = coffee_shops_df['Visitors_per_day'].fillna(vistitors_mean, inplace=True)

In [ ]:
coffee_shops_df.dropna()

In [4]:
median_rating = coffee_shops_df['Rating_out_of_5'].median()
replaice = coffee_shops_df['Rating_out_of_5'].fillna(median_rating, inplace=True)